/* Using global sytles is not recommended, prefer local styles via CSS Modules */

/*
 * box model like it should be
 *
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */

@import '../../content/styles/setting';
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400|Roboto:400,500);
@import url(https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css);
html { box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*
 * kill document defaults margin & padding. We all do that all the time, right ?
 */
html,
body {
  margin: 0;
  padding: 0;
}
p, span, h3, a, li{
  font-family: 'Roboto', sans-serif !important;
}
/*
 * page styles
 */
html {
  min-height: 100%;
  background: color(#deecf1 a(0.4));
}

body {
  font-size: 1rem;
  line-height: 1.5rem;

  /* system font https://medium.com/designing-medium/system-shock-6b1dc6d6596f */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

/*
 * .phenomic-HeadingAnchor
 *
 * anchors for markdown headings, generated via markdown renderer, so require
 * global styling
 */
@custom-selector :--headings h1, h2, h3, h4, h5, h6;

:--headings {
  position: relative;
}

:root {
  --phenomic-HeadingAnchor-width: 1.4rem;
  --phenomic-HeadingAnchor-margin: 0.4rem;
}

.phenomic-HeadingAnchor {
  display: block;
  text-align: center;
  margin-left: calc(-1 * (var(--phenomic-HeadingAnchor-width) + var(--phenomic-HeadingAnchor-margin)));
  margin-right: var(--phenomic-HeadingAnchor-margin);
  width: var(--phenomic-HeadingAnchor-width);
  line-height: var(--phenomic-HeadingAnchor-width);
  text-decoration: none;

  opacity: 0.1;
  transition: opacity 0.2s;

  @nest :--headings:hover & {
    opacity: 1;
  }
}

/**
 * Custom global styling
 */
 ::selection {
   background: $gray-2;
 }
 ::-moz-selection {
   background: $gray-2;
 }
 :root {
   font-size: 100%;
 }

 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   -webkit-tap-highlight-color: rgba(0,0,0,0);
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   -webkit-highlight: none;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }

 a {
   text-decoration: none;
   &:hover {
     text-decoration: none;
   }
 }


.hero {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 1rem;
  padding-bottom: 64px;
}

.hero-container {
  margin: 0;
  background: linear-gradient(to top right, $pink , $blue-5);
}

.repo-container {
  margin-top: -80px;
}

.repo-detail {
  &__box {
    background: white;
    h2 {
      color: $blue;
      font-size: 1.375rem;
      line-height: 2.5rem;
      font-weight: 500;
    }
    p {
      color: $gray-6;
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
  }

  &__custom-description {
    p{
      color: $black;
      font-size: 1.75rem;
      line-height: 3rem;
    }
  }
}
.repobox {
  margin-bottom: 2rem;
  padding: 3rem;
  background: white;
  &--icons {
    a {
      img {
        margin-right: 0.2rem;
      }
      display: inline-flex;
      align-items: center;
      margin-right: 1rem;
      justify-content: flex-start;
    }
  }
  a {
    text-decoration: none;
    p {
      color: $gray-6;
      font-size: 1.125rem;
      line-height: 1.75rem;

      &:first-of-type {
        display: flex;
        align-items: center;
        img{
          padding-right: 10px;
        }
        font-size: 1.375em;
        color: $blue;
        font-weight: 500;
        line-height: 2.5rem;
      }

      &:last-of-type {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        height: 2.5rem*3;
      }
    }
  }
}
@-webkit-keyframes flash {
from {
  transform:none;
}

50% {
  transform:rotate(180deg) translateY(50%);
}

to {
  transform:rotate(360deg) translateY(0);
}
}

@keyframes flash {
from {
  transform:none;
}

50% {
  transform:rotate(180deg) translateY(50%);
}

to {
  transform:rotate(360deg) translateY(0);
}
}

.rotating-box{
  height:1200px;
  width:1200px;
  background:#fff;
  position:absolute;
  left:40%;
  top:-30%;
  opacity:0.05;
}

.animated {
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-timing-function: linear;
  transform-origin: center;
}

.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}

.line{
background:white;
position:absolute;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

.l{ transform-origin:top; height:15px; width:3px; top:10px; left:7px; }

.r{ transform-origin:bottom; height:15px; width:3px; top:7px; right:7px; }

.t{ transform-origin:right; width:10px; height:3px; top:7px; left:7px;}

.b{ transform-origin:left; width:10px; height:3px; bottom:7px; right:7px; }

.m-l{ transform-origin:top; height:13px; width:3px; top:12px; left:12px; }

.m-r{  transform-origin:bottom; height:13px; width:3px; top:7px; right:12px; }

.third {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
  -webkit-animation-delay: 1.15s; /* Safari 4.0 - 8.0 */
  animation-delay: 1.15s;
  -webkit-animation-timing-function: ease-out; /* Safari 4.0 - 8.0 */
animation-timing-function: ease-out;
}

.second {
-webkit-animation-duration: .5s;
animation-duration: .5s;
-webkit-animation-delay: .96s; /* Safari 4.0 - 8.0 */
animation-delay: .65s;
-webkit-animation-timing-function: ease; /* Safari 4.0 - 8.0 */
animation-timing-function: ease;
}

.first {
-webkit-animation-duration: .65s;
animation-duration: .65s;
-webkit-animation-timing-function: ease-in; /* Safari 4.0 - 8.0 */
animation-timing-function: ease-in;
}

@-webkit-keyframes y {
  from {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }

  to {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes y {
  from {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }

  to {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

.y {
  -webkit-animation-name: y;
  animation-name: y;
}


@-webkit-keyframes x {
  from {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }

  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@keyframes x {
  from {

    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }

  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.x {
  -webkit-animation-name: x;
  animation-name: x;
}

@media only screen and (max-width: 768px) {
  .content {
    padding: 2rem;
    h1 {
      color: white;
      font-size: 2.5rem;
      line-height: 3.5rem;
      font-weight: 500;
      margin-bottom: .5rem;
     }

    .ingress {
      color: white;
      font-size: 1.25rem;
      line-height: 2rem;
    }
  }

  .repobox {
    margin-bottom: 1px;
    padding: 2rem;
  }
  .repo-container {
    .col-sm-12,
    .col-md-6,
    .col-lg-4 {
      padding: 0;
    }
  }

  .repo-detail {
    &__box {
      padding: 3rem;
    }
    &__custom-description {
      padding: 3rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  .content {
    padding: 3rem;

    h1 {
      font-size: 6rem;
      line-height: 7rem;
      margin-bottom: 1.5rem;
      color: white;
      font-weight: 500;
    }

    .ingress {
      font-size: 1.75rem;
      line-height: 3rem;
      color: white;
    }
  }

  .repo-detail {
    &__box {
      padding: 3rem;
    }
    &__custom-description {
      padding: 4rem;
    }
  }
}

@media only screen and (min-width: 996px) {
  .repo-detail {
    &__box {
      padding: 3rem;
      margin-top: -60%;
      padding-bottom: 80%;
    }
  }
}
