$gray:         #8C96A1;
$gray-2:       #eee;
$gray-3:       #f2f3f5;
$gray-4:       #DCEDFF;
$gray-5:       #A0AAB5;
$gray-6:       #757575;
$gray-7:       #efefef;

$blue:         #0059BF;
$blue-2 :      #005AEB;
$blue-3 :      #3874B7;
$blue-4 :      #002A5A;
$blue-5 :      #657DA4;
$blue-6 :      #DBEDFF;

$yellow :      #FFEF9E;
$yellow-2:     #FFF18C;

$white :       #ffffff;

$black:        #505050;

$pink :        #E8CBC0;

$trans:        rgba(255, 255, 255, 0.05);
$trans-1:      rgba(255,255,255,0.1);
