
.loader {
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

.spinner {
  height: 5vh;
  min-height: 5rem;
  width: 5vh;
  min-width: 5rem;
  border: 6px solid rgba(0,0,0,.2);
  border-top-color: rgba(0,0,0,.8);
  border-radius: 100%;
  animation: rotation 0.6s infinite linear 0.25s;

  /* the opacity is used to lazyload the spinner, see animation delay */
  opacity: 0;
}


$preloader_size: 15px;
$preloader_left_round: #1b436b;
$preloader_right_round: #fefefe;
$preloader_time: 1.8s;

.ball-loader{

  width: 100%;
  height: 100%;
  background-color: #3F51B5;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;

  &:before, &:after{

    content: "";
    display: block;

    width: $preloader_size;
    height: $preloader_size;
    border-radius: 50%;

    position: absolute;
    top: 50%;
  }

  &:before{
    background-color: $preloader_left_round;
    left: 50%;
    animation: animation_left_round $preloader_time infinite ease-in-out;
  }

  &:after{
    background-color: $preloader_right_round;
    right: 50%;
    animation: animation_right_round $preloader_time infinite ease-in-out;
  }
}

@keyframes animation_left_round{

	0%, 100%{
		transform: translate3d(50%, -50%, 0);
	}

	50%{
		transform: translate3d(-150%, -50%, 0);
	}
}

@keyframes animation_right_round{

	0%, 100%{
		transform: translate3d(-50%, -50%, 0);
	}

	50%{
		transform: translate3d(150%, -50%, 0);
	}
}

@keyframes rotation {
  from {
    opacity: 1;
    transform: rotate(0);
  }
  to {
    opacity: 1;
    transform: rotate(359deg);
  }
}
