.footer {
  clear: both;
  margin-top: 3rem;
  padding: 1rem;
  font-size: 0.75rem;
  text-align: center;
  min-width: 400px;
}

.link {
  display: inline-block;
  margin: 0 10px;
  color: inherit;
  text-decoration: none;
  height: 30px;
  width: 30px;
}

.reference {
  font-weight: 100;
}
