
*{
padding: 0;
margin: 0;
box-sizing: border-box;
-webkit-tap-highlight-color: rgba(0,0,0,0);
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
-webkit-highlight: none;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}


::selection { background: #eee; }
::-moz-selection { background: #eee; }
:root { font-size: 100%; }

a { text-decoration: none; }
.rotating-box{height:50px; width:50px; background:#fff;}
body { font-family:'Roboto', sans-serif;}
.monospace{font-family: 'Roboto Mono', monospace;}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header, main {
  width:100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
}


.gray{  background-color: #8C96A1; }
.light-gray{background-color: #f2f3f5; }

.blue {  background-color: #0059BF; }
.blue-2 { background-color: #005AEB; }
.blue-3 { background-color: #3874B7; }

.yellow { background-color: #FFEF9E; }

.c-yellow { color: #FFEF9E; }

.grid {
  max-width: 85rem;

  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.grid, .grid__col { width: 100%; }

@media only screen and (min-width: 40rem) {
  .grid, .grid__col { padding: .5rem; }
}

@media only screen and (min-width: 57rem) {
 .w-50-m { width: 50%; }
}

@media only screen and (min-width: 75rem) {
  .w-33-l { width: calc( 100% / 3 ); }
  .w-66-l { width: calc( 100% / 1.5 ); }

  .github-profile{margin-top:-288px; height:500px;}
.project-description{  height: 5.25rem; }
}


.content-box {
  width: 100%;
  padding: 2rem;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.content-box--card {
  background: #ffffff;
}


@media only screen and (max-width: 40rem) {
  .content-box {
margin-bottom:1px;
  }
}

@media only screen and (min-width: 40rem) {
  .content-box {
    padding: 3rem;
  }


}

.card-header { margin-bottom: .5rem; }
.card-footer { margin-top: 1rem; }

.tag { margin: .5rem 1rem; line-height: 1rem; padding:.25rem .375rem; text-align:center; font-size: .75rem; font-weight: 500; border-radius:2px;}
.tag--js{background-color: #FFF18C;  color: #002A5A;}
.tag--php{background-color: #DCEDFF;  color: #002A5A;}

.stat {
  margin-right: 1rem;
}
.stat__icon { padding: .125rem; padding-left: 0; }
.dl{padding-top:.2rem;}
  .stat__count {
    color: #0059BF;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
  }



/* TYPOGRAPHY */
.logotext{
  line-height: 2rem;
  font-size:1.5rem;

  margin-left: .75rem;
  font-weight:500;
}
h1 {
  color: #fff;
  font-size: 2.5rem;
  line-height: 3.5rem;
  font-weight: 500;
  margin-bottom: .5rem;
 }

.ingress {
  color: #fff;
  font-size: 1.25rem;
  line-height: 2rem;
  margin-bottom:4rem;
}

@media only screen and (min-width: 40rem) {
  h1 {
    font-size: 6rem;
    line-height: 7rem;
    margin-bottom: 1.5rem;
   }

   .project{font-size:4.5rem; line-height:6rem; margin-bottom:.5rem;}
   .project-icon-box{width:3rem; height:3rem; margin-top:1.5rem; margin-right:1.5rem; background:#fff;}

  .ingress {
    font-size: 1.75rem;
    line-height: 3rem;
  }

  .bodytext {
    font-size: 1.25rem;
    line-height: 2rem;
  }
}

.project-box{width:1.5rem; height:1.5rem; background:#0059BF; padding:4px; margin-top:.5rem; margin-right: .75rem;}
.project-icon{margin-top:.5rem; margin-right: .5rem;}
.project-name {
  color: #0059BF;
  font-size:1.375rem;
  line-height: 2.5rem;
  font-weight: 500;
}

.project-name span{color:#909090; font-size:1rem; margin-left:.5rem;}

.project-description {
  color: #757575;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.back{font-size:1.5rem; margin-bottom:1rem;
line-height:3rem; font-weight:500; color:#ffffff;}

.black{color:#505050;}


.animated {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-timing-function: linear;
  transform-origin: center;
}


.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.pull{margin-top:-80px;}
@-webkit-keyframes flash {
  from {
    transform:none;
  }

  to {
    transform:rotate(180deg);
  }
}

@keyframes flash {
  from {
    transform:none;
  }

  to {
    transform:rotate(180deg);
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}

.two{margin-left:100px;}
